$editor-width: 750px !default;
$editor-prefix: "" !default;

$string-placeholder-default-message: 'Your text here' !default;

$color-menu-background: #cccccc !default;
$color-menu-background-alt: #f04124 !default;
$color-menu-background-hover: #aaaaaa !default;
$color-menu-text: #333333 !default;
$color-menu-text-hover: #333333 !default;

$color-placeholder-text: rgba(51, 51, 51, 0.3) !default;